@using VidlyMVC5.Models
@model IEnumerable<VidlyMVC5.Models.Customer>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Any() ? "popover.top" : null;
}

<h2 class=@className>Customer List</h2>

@if (!Model.Any())
{
    <text>No any movie !</text>
}
else
{
    <table>
        <thead>
        <tr>
            <th class="thumbnail">Name</th>
        </tr>
        </thead>
        <tr></tr>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "CustomerDetail", "Customers", new { id = customer.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
